<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Clearly Yours</title>
    <meta name="description" content="This is visual analysis tool for image analysis of various food items">
    <meta name="author" content="Jasmeet Singh" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" media="screen" href="../static/css/style.css">
</head>

<body class="loaded">

    <!-- Coming soon -->
    <div class="panel">
        <img class="panel image" src="../static/images/tomato.gif" style="z-index:-1">
        <h2 class="panel-text">Have Fun Cooking!</h2>
    </div>
    <div>
        <span class="panel-text">
       <p style="background-color:white"> Want to know whats in your food.
           Coming soon with a lots of flavors.
       </p>
    </span>
    </div>

    <!-- particles.js container -->
    <div id="particles-js"></div>

    <!-- scripts -->
    <script src="../static/js/particles.js"></script>
    <script src="../static/js/app.js"></script>

</body>

</html>